.image {
    pointer-events: none;
    opacity: 0.75;
}

.label {
    background-color: rgba(80, 80, 80, 0.5);
    margin-top: 20px !important;
    padding: 15px;
    border-radius: 10px;
    color: whitesmoke;
}
