.sidenav {
    position: fixed;
    background: #1d1922;
    transition: 200ms ease;
    z-index: 20;

    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        .item {
            height: 5rem;
            text-decoration: none;
            transition: all 150ms ease;
            cursor: pointer;
            border: 3px solid transparent;

            a {
                height: 5rem;

                display: flex;

                .text {
                    transition: all 150ms ease;
                    height: 5rem;
                    line-height: 5rem;
                    text-align: center;
                    margin-left: 8px;
                    opacity: 0;
                }

                .image {
                    transition: all 250ms ease;
                    max-width: 2rem;
                    min-width: 2rem;
                    margin: 0 1.25rem;
                    height: 100%;
                    fill: rgba(255, 255, 255, 0.6);

                    &.active {
                        fill: rgb(151, 151, 255);
                        filter: opacity(0.75);
                    }
                }
            }

            &.active {
                box-sizing: border-box;
                background: #2a2331;
            }
        }

        .logo {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1rem;
            text-align: center;
            background: rgb(29, 26, 54);
            height: 5rem;
            position: relative;

            .text {
                transition: all 200ms ease;
                line-height: 5rem;
                text-align: center;
                color: white !important;
                position: absolute;
                left: 1rem;
                opacity: 0;
            }

            .chevron {
                transform: rotate(0deg);
                transition: transform 200ms;
                width: 1.25rem;
                height: 100%;
                fill: white;
                position: absolute;
                right: 30px;
            }
        }
    }

    // Expand on hover.
    &:hover {
        .item {
            a {
                .image {
                    fill: rgba(255, 255, 255, 0.85);

                    &.active {
                        filter: opacity(1);
                    }
                }
                &:hover {
                    background: #2e2b33;
                }
            }
        }
        .logo {
            .text {
                opacity: 1;
            }

            .chevron {
                transform: rotate(-180deg);
            }
        }
    }
}

// Large screen:
@media only screen and (min-width: 600px) {
    .sidenav {
        width: 5rem;
        height: 100vh;

        .menu {
            flex-direction: column;

            .item {
                &.active {
                    border-left: 3px solid white;
                }
            }
        }

        &:hover {
            width: 16rem;

            .item {
                a {
                    .text {
                        // Reveal the text attached to each item.
                        opacity: 1;
                        color: white;
                    }
                }
            }
        }
    }
}

// Small screen:
@media only screen and (max-width: 600px) {
    .sidenav {
        bottom: 0;
        height: 5rem;
        width: 100vw;

        .menu {
            flex-direction: row;
            justify-content: space-evenly;

            .item {
                width: 5rem;
                &.active {
                    border-bottom: 3px solid white;
                }
            }
            .logo {
                display: none;
            }
        }
    }
}
