.readingBar {
    -webkit-appearance: none;
    appearance: none;

    position: fixed;
    z-index: 100;
    width: calc(100% - 5rem);

    height: 3px;

    &::-webkit-progress-value {
        background-image: -webkit-linear-gradient(left, rgb(58, 85, 173), rgb(120, 119, 190));
    }

    &::-webkit-progress-bar {
        background-color: #5c5862;
    }
}

@media only screen and (max-width: 600px) {
    .readingBar {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .readingBar {
        width: calc(100% - 5rem);
    }
}
