.container {
    position: relative;
    height: 100%;

    .bannerImage {
        width: 100%;
        position: fixed;
        top: 0;
        opacity: 0.5;
        z-index: 0;
    }

    .content {
        background: rgb(51, 48, 56);
        min-height: calc(100vh - 300px);
        top: 300px;
        width: 100%;
        border-radius: 25px 25px 0px 0px;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px -10px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        z-index: 10;
        padding: 2rem;

        .textContainer {
            max-width: 820px;
            margin: 0 auto;

            img {
                max-width: 700px;
                display: block;
                margin: 0 auto;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            }
        }
        .title {
            color: rgb(203, 148, 255);
            font-family: CodeText;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        .content {
            padding-bottom: 5rem;
        }
    }
}
