@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.blog-image {
    display: block;
    margin: 0 auto;
    max-width: $blog-contents-max-width;
    
    img {
        &.shadow {
            @include elevation-shadow;
        }
    }
}