$expandableTextHeight: 12px;
$textSize: 18px;

.expandable {
    display: block;
    // height: $expandableTextHeight;
    margin: 15px;
    margin-bottom: 10px;
    transition: 0.15s all ease-in-out;

    &:hover {
        color: rgba(187, 187, 187, 0.678);
        cursor: pointer;
        transition-duration: 0.15s;
    }

    .toggleButton {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: $expandableTextHeight;
        user-select: none;
    }

    .text {
        display: inline;
        letter-spacing: normal;
        font-size: $textSize;
        height: $expandableTextHeight;
        line-height: $expandableTextHeight;
        user-select: none;
    }
}
.content {
    background-color: rgba(0, 0, 0, 0.342);
    padding: 20px;
    border-radius: 8px;
}
