.awardItem {
    margin: 10px;

    .title {
        padding: 0;
        margin: 0;
    }

    .time {
        color: greenyellow;
    }

    .description {
        color: rgb(189, 189, 194);
    }
}
