.awardItem {
    margin: 10px;

    .title {
        padding: 0;
        margin: 0;

        a {
            text-decoration: underline;
        }
    }

    .time {
        color: greenyellow;
    }

    .description {
        color: rgb(189, 189, 194);
    }
}
