.gridItem {
    padding: 10px;

    .interestCard {
        height: 100%;
        background: rgba(44, 44, 44, 1) !important;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        .title {
            text-align: center;
        }

        .content {
            margin: 0 auto;
            color: whitesmoke !important;
            .description {
                color: rgba(160, 160, 160, 0.8);
            }
        }
    }
}
