.pdfContainer {
    text-align: center;

    .link {
        color: blueviolet;
        &:hover {
            color: rgb(127, 172, 255);
        }
    }

    canvas {
        margin: 10px auto;

        // Overriding default dimensions
        width: 100% !important;
        max-width: 740px !important;
        height: 100% !important;
    }
}
