.title {
    text-align: center;
}

.timeText {
    text-align: center;
    color: rgba(182, 240, 96, 0.678);
}

.teamText {
    text-align: center;
    color: grey;
}

.companyLogo {
    height: 75px;
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 18px;
    display: block;
    border-radius: 5px;
}

.markdownText {
    p {
        margin: 0 0 5px 0 !important;
    }
}
