@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.chipStack {
    @include reset-ul-styles;
    font-family: $code-font-stack;

    display: flex;
    flex-direction: row;
    column-gap: $spacing-xxs;
    row-gap: $spacing-xxs;
    flex-wrap: wrap;

    .chip {
        display: flex;
        align-items: center;
        column-gap: $spacing-xxs;
        background: $cool-grey-200;
        color: $dark-text-colour;
        border-radius: 64px;
        padding: $spacing-xxs;
    }
}
