.container {
    background: rgb(51, 48, 56);
    color: rgb(248, 248, 248);
    transition: all 200ms ease;
    min-height: 100vh;
}

// Left offset on the content to make space for the sidenav, which will be on
// the left side when the screen is large.
@media only screen and (min-width: 600px) {
    .container {
        margin-left: 5rem;
    }
}

// Extra bottom offset on the content to make space for the sidenav, which will
// transfer position to the bottom when the screen is smaller.
@media only screen and (max-width: 600px) {
    .container {
        margin-bottom: 5rem;
    }
}
