// Global styles.
@import "./variables.scss";

html {
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;

    /* ------------------------ Scrollbar styles. ------------------------ */
    overflow-x: hidden;
    // Prevents scrollbar from 'pushing' content.
    // Sourced from: https://stackoverflow.com/questions/19208826/preventing-relayout-due-to-scrollbar.
    overflow: overlay;

    ::-webkit-scrollbar {
        width: 0.4rem;
    }

    ::-webkit-scrollbar-track {
        background: $dark-background-colour;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $primary;
    }

    body {
        margin: 0;
        position: relative;
    }

    pre,
    code {
        font-family: "Consolas", "Courier New", monospace;
    }
}
