// Global styles, including SCSS variables for defining the colour palette for
// light/dark mode and font families.

$theme-transition-duration: 0.2s;

/**
 * Dark mode palette.
 */
$dark-background-colour: darkslategray;
$dark-text-colour: whitesmoke;

/**
 * Light mode palette.
 */
$light-background-colour: whitesmoke;
$light-text-colour: darkslategray;

html {
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;

    body {
        margin: 0;
    }

    pre,
    code {
        font-family: "Consolas", "Courier New", monospace;
    }
}
