@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$edge-skew-angle: -1.5deg;

.blogBody {
    background: rgba($color: #000000, $alpha: 0);
    width: 100%;
    overflow: auto;
    z-index: -10;

    .slantedContainer {
        position: relative;
        width: 100%;
        background: whitesmoke;
        margin: 250px 0;

        // Creating a 'razor blade', or slanted edge.
        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: inherit;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform-origin: top left;
            transform: skewY($edge-skew-angle);
            box-shadow: rgba(0, 0, 0, 0.15) 0px -10px 0px 0px;
        }
        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: inherit;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform-origin: top right;
            transform: skewY($edge-skew-angle);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px 0px;
        }

        // Top bar containing navigation UI and buttons.
        .topBar {
            display: flex;
            justify-content: space-between;
        }
    }
}
