@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.blogPage {
    height: 100%;

    .title {
        text-align: center;
        font-size: $font-size-x3l;
        margin: 0;
    }

    .metadataList {
        @include reset-ul-styles;
        display: flex;
        justify-content: center;
        // column-gap: $spacing-md;
        margin: $spacing-sm 0;
        font-family: $code-font-stack;

        .field {
            position: relative;
            display: flex;
            flex-direction: row;
            column-gap: $spacing-xs;
            align-items: center;
            padding: 0 $spacing-md;
            color: $cool-grey-700;

            &.link {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .blogPage {
        .metadataList {
            flex-direction: column;
            justify-content: center;
            row-gap: $spacing-xxs;

            .field {
                padding: 0;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: $sm) {
    .blogPage {
        .metadataList {
            flex-direction: row;

            .field {
                &:not(:last-child) {
                    &:before {
                        content: "";
                        width: 6px;
                        background: $cool-grey-700;
                        height: 6px;
                        position: absolute;
                        border-radius: 50%;
                        top: 50%;
                        right: -3px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

.blogContents {
    padding: 0 $spacing-md $spacing-md $spacing-md;
    // & > * {
    //     &:not(:last-child) {
    //         margin-bottom: $spacing-xxs;
    //     }
    // }

    p,
    ul,
    ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        max-width: $blog-contents-max-width;
        margin: 0 auto;
        line-height: $line-spacing-lg;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $spacing-md !important;
    }

    // Targets all paragraphs with a sibling before it.
    p + p {
        margin: $spacing-sm auto 0 auto !important;
        line-height: $line-spacing-xl;
    }

    // Make the first letter of the first paragraph element extra large.
    // See: https://www.digitalocean.com/community/tutorials/css-drop-caps.
    & > p {
        &:first-child {
            &::first-letter {
                font-family: $code-font-stack;
                padding: 0 0.3rem;
                margin: 0 0.5rem 0 0;
                border-radius: 8px;

                font-size: 3.9rem;
                float: left;
                line-height: 1;
            }
        }
    }

    li {
        margin: $spacing-xxxs 0;
    }

    pre {
        max-width: $blog-contents-max-width;
        margin: 0 auto;
        border-radius: 5px;
    }

    img {
        max-width: $blog-contents-max-width;
        display: block;
        margin: 0 auto;
    }
}

.blogFooter {
    color: $cool-grey-500;
}

@media screen and (max-width: $md) {
    .blogPage {
        .title {
            font-size: xx-large;
        }
    }
}
